<div class="row contenido">
    <div class="col-xl-5 col-md-5">
      <mat-card>
        <mat-tab-group>
          <mat-tab label="Teacher">
            <form [formGroup]="form" novalidate class="form-group" style="margin-top: 3%;">
                
                <div class="container">
                  <div class="row">
                    <div class="col-sm">
                      <input formControlName="numeroDocumento" class="form-control form-control-lg" type="number" placeholder="Número Documento" required>
                      <div class="input-group-append">
                        <button class="btn btn-primary" type="button" (click)="searchDocument();">Buscar</button>
                      </div>
                    </div>
                  </div>
                </div><br>

                <div class="container">
                  <input style="display:none;" type="number" class="form-control" formControlName="id">
                  <div class="row">
                    <div class="col-sm">
                      <input type="text" [attr.disabled]="true" formControlName="nombreTeacher"  required class="form-control form-control-lg"  placeholder="Nombre">
                    </div>
                  </div>
                </div><br>

                <div class="container">
                  <div class="row">
                    <div class="col-sm">
                      <input type="text" [attr.disabled]="true"  formControlName="apellidoTeacher" required class="form-control form-control-lg"  placeholder="Apellido">
                    </div>
                  </div>
                </div><br>

                <div class="container">
                  <div class="row">
                    <div class="col-sm">
                      <input type="number" [attr.disabled]="true"  formControlName="edadTeacher" required class="form-control form-control-lg"  placeholder="Edad">
                    </div>
                  </div>
                </div><br>

                <div class="container">
                  <div class="row">
                    <div class="col-sm">
                      <!--<button type="button" class="btn btn-success btn-lg btn-block" [disabled]="!form.valid" *ngIf="!isUpdate">Registrar</button>
                      <button type="button" class="btn btn-primary btn-lg btn-block" [disabled]="!form.valid" *ngIf="isUpdate">Actualizar</button>-->

                     <button type="button" [disabled]="!form.valid" class="btn btn-success btn-lg" *ngIf="isSave" (click)="registerTeacher()"> Registrar</button>
                     <button type="button" [disabled]="!form.valid" class="btn btn-primary btn-lg " *ngIf="isUpdate" (click)="updateTeacher()">Actualizar</button>
                     <button type="button" class="btn btn-success btn-lg " (click)="limpiar()" > Limpiar </button>

                    </div>
                  </div>
                </div><br>
            </form>
          </mat-tab>
        </mat-tab-group>
      </mat-card>
    </div>

    <div class="col-xl-7 col-md-7">
        <mat-card>
            <mat-tab-group>
                <mat-tab label="Registros">
                    <div class="container">
                        <div class="row">
                            <table class="table table-bordered" style="margin-top: 3%;">
                                <thead>
                                  <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Número Documento</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Apellido</th>
                                    <th scope="col">Edad</th>
                                  </tr>
                                </thead>
                                <tbody>
                                   
                                    <tr *ngFor="let d of teachersList;">
                                      <td>{{d.id}}</td>
                                      <td style="text-transform:uppercase" onkeyup="javascript:this.value=this.value.toUpperCase();">{{d.documentNumber}}</td>
                                      <td style="text-transform:uppercase" onkeyup="javascript:this.value=this.value.toUpperCase();">{{d.name}}</td>
                                      <td style="text-transform:uppercase" onkeyup="javascript:this.value=this.value.toUpperCase();">{{d.lastName}}</td>                                      
                                      <td style="text-transform:uppercase" >{{d.age}}</td>                                                                            
                                    </tr>
                                 </tbody>

                              </table>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </mat-card>
    </div>
</div>